/* snapshots.css */
@charset "utf-8";
/* 
.snapshots{
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.snapshots .snap_img{
    width: calc(50% - 20px);
    height: 300px;
    margin: 0 10px 20px;
    background-position: 50% 50%;
    background-size: cover;
}
.snapshots .snap_img:nth-child(1){background-image: url(../img/cont_01.jpg);}
.snapshots .snap_img:nth-child(2){background-image: url(../img/cont_02.jpg);}
.snapshots .snap_img:nth-child(3){background-image: url(../img/cont_03.jpg);}
.snapshots .snap_img:nth-child(4){background-image: url(../img/cont_04.jpg);}
.snapshots .snap_img:nth-child(5){background-image: url(../img/cont_05.jpg);}
.snapshots .snap_img:nth-child(6){background-image: url(../img/cont_06.jpg);}

.snapshots .more{
    width: 190px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #71788d;
    background-color: #71788d;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}
.snapshots .more:hover{
    background-color: #fff;
    color: #71788d;
}
 */

 .snapshots{}
 .snapshots .frame{
     width: 960px;
    margin: 0 auto;
    padding: 20px 10px 0;
    text-align: center;
}
 .snapshots .frame .origin{
     display: flex;
    flex-wrap: wrap;
}
 .snapshots .frame .origin .sn_box{
     width: calc(50% - 20px);
    height: 300px;
    margin: 0 10px 20px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #ddd;
}
 
 .snapshots .frame .origin .sn_box .dark{
     width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
 
 .snapshots .frame .origin .sn_box .dark h4{
     color:#fff;
    font-size: 20px;
}
 
 .snapshots .frame .origin .sn_box:hover .dark{
     opacity: 1;
    transition: opacity 0.5s;
}
 
 .snapshots .frame button{
     margin-bottom: 40px;
    width: 160px;
    line-height: 36px;
    border: none;
    background-color: #1f232f;
    color:#fff;
    border-radius:4px;
    cursor: pointer;
    font-size: 17px;
}
 
 @media (max-width:959px){
     .snapshots .frame{width: 100%;}
 }